<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cs" connectionString="DefaultEndpointsProtocol=https;AccountName=lkujunddbstorage;AccountKey=jP1Led1iGEsYop+iTzJB5U0IWf4JfDA4O9DHPA/ar+E5O/yvFDTseECb5pbo1+cfjfo3RbM15Nm++ASt5Th7cw==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
</configuration>